.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}
.search-header {
	display: inline-flex;
	align-items: center;
	background: #565f66;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 0 10px;
	.search-icon {
		color:rgba(255,255,255,.5);
		&.iconfont{
			font-size:20px;
		}
	}
}
.search-input-container {
	position: relative;
	display: flex;
	align-items: center;
}
.clearinput {
	color: #fff !important;
	display: none;
	cursor: pointer;
	opacity: 0.5;
}
#search-result {
	position: absolute;
	top: 50px;
	right: 0;
	height: auto;
	border-radius: 5px;
	z-index: 999;
	background: #171f26;
	box-shadow: 0px 5px 10px #999;
	width: 50%;
}
ul.search-result-list {
	list-style: none;
	margin: 0 5px;
	padding: 10px 25px;
	color: #ffffff;
	opacity: 0.7;
	font-size: 15px;

	max-height: 40vmax;
	overflow: auto;
	li {
		margin-bottom: 15px;
		border-bottom: 1px dashed #ddd;
		padding: 0 0 5px 0;
	}
}

p.search-result {
	font-size: small;
	padding: 1px 0;
	margin: 0;
}

a.search-result-title {
	font-weight: bold;
}

.search-keyword {
	border-bottom: 1px dashed #c66;
	color: #c66;
	font-weight: bold;
}

#no-result {
	color: #ccc;
	margin: auto;
}

#search-input {
	line-height: 30px;
	font-size: 14px;
	color: rgba(255,255,255,.7);
	background: none;
	width: 80px;
	outline: none;
	border: none;
	//-webkit-transition: width 0.3s cubic-bezier(0.31, 1, 0.34, 1);
	transition: width 0.3s cubic-bezier(0.31, 1, 0.34, 1);
	&.active {
		width: 200px;
	}
	&::placeholder{ color:rgba(255,255,255,.3) }
}
